.action-link,
.action-link:visited,
.action-link:focus,
.action-link:hover {
    color: $dark-color;
    text-decoration: none;
    padding: 0;
    outline:none;
    &:hover {
      @extend .toggled;
    }
}

.action-link-soft {
  color: $gray-light;
  font-size: 12px;
  @extend .btn, .action-link;
}

.hidden-remove {
  @extend .glyphicon;
  @extend .glyphicon-remove-circle;
  color: $white;
  text-decoration: none;
  font-size: 2em;
  background: none;
}

.hidden-remove:hover {
  background: none;
  color: $primary-color;
  text-decoration: none;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
    background-color: $primary-color;
    border-color: $primary-color;
    outline: none !important;

    &:hover {
      background-color: $dark-color;
      border-color: $dark-color;
    }
}

.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:visited,
.btn-primary.active:focus {
    background-color: $dark-color;
    border-color: $dark-color;
}

.btn-fb,
.btn-fb:visited,
.btn-fb:active,
.btn-fb:focus {
    background-color: #4267b2;
    color: $white;
    border-color: #4267b2;
    outline: none !important;

    &:hover {
      background-color: #3b5998;
      border-color: #3b5998;
    }
}

.btn-google,
.btn-google:visited,
.btn-google:active,
.btn-google:focus {
    background-color: #d34836;
    color: $white;
    border-color: #d34836;
    outline: none !important;

    &:hover {
      background-color: #ab3526;
      border-color: #ab3526;
    }
}

a {
  color: $dark-color;
}

.show-details {
  color: $gray-light;
  text-decoration: none;
  &:after  {
    font-family: "Glyphicons Halflings";
    content: "\e114";
  }

  @extend .btn, .action-link
}

.comment-vote {
  @extend .btn, .action-link, .btn-xs;
  color: $gray-light;
  background:none;
  border: none;

  &:before  {
    font-family: "Glyphicons Halflings";
    content: "\e253";
  }
}

.comment-vote.clicked {
  color: $link-color;
}

.vote {
  text-decoration: none;
  color: $gray-light;

  @extend .btn, .action-link
}

.vote.thumbs-up {
  &:after  {
    font-family: "Glyphicons Halflings";
    content: "\e125";
  }
}

.bookmark {
  text-decoration: none;
  color: $gray-light;

  @extend .btn, .action-link
}

.bookmark.bookmark-icon {
  &:after  {
    display: inline-block;
    vertical-align: middle;
    font-family: "Glyphicons Halflings";
    content: "\e044";
  }
}

.toggled {
  color: $primary-color;
}

.edit-btn {
  &:after  {
    font-family: "Glyphicons Halflings";
    content: "\e065";
  }

  @extend .btn, .action-link
}

.form-btns {
  font-size: 12px;
  @extend .form-group;

  .cancel-link {
    @extend .btn, .action-link
  }

  .submit-btn {
    @extend .btn, .btn-primary, .btn-xs
  }

}

.edit-section {
  height: 44px;
  margin-bottom: 20px;
}

.edit-list-btn {
  font-weight: bold;
  font-size: 16px;

  &:before  {
    font-family: "Glyphicons Halflings";
    content: "\270f\00a0";
    vertical-align: middle;
  }
  @extend .btn, .btn-primary, .btn-lg, .pull-right;
}

.quick-add-toggle {
  margin: 5px 0 5px 0;

  &:after  {
    font-family: "Glyphicons Halflings";
    content: "\e142";
    vertical-align: middle;
  }
  @extend .btn, .action-link;
}

.r-cite {
  color: $dark-color;
  @extend .action-link-soft;
}

.remove-button {
  @extend .btn-default;
  @extend .glyphicon;
  @extend .glyphicon-remove-circle;
  color: $gray-light;
  background: none;
}

.remove-button:hover {
  background: none;
  text-decoration: none;
}

a.edit-link {
  color: $gray-light;
  display: inline-block;
  outline:none;
  padding: 0;
  text-decoration: none;
}

a.edit-link:hover {
  @extend .toggled;
}