.comment-box {
  height: 100px;
  overflow: auto;
}

.list-comments {
  background-color: $table-bg-accent;
}

.comment {
  border-top: 1px solid gray;
  word-wrap: break-word;

  .comment {
    margin-left: 30px;
  }

  .comment .comment .comment .comment .comment {
    margin-left: 0;
  }

  .btn-link {
    padding: 0;
  }

  .cancel-link {
    font-size: 12px;
  }

  ul {
    padding: 0;
    margin: 0 0 3px 0;

    li {
      display: inline;
      padding: 0 10px 0 0;
    }

    .like-form {
      display: inline;
    }
  }
}
