.form-selected-image {
  margin: 10px 0 20px;
  img {
    max-width: 100px;
    max-height: 100px;
  }
}

.multiselect-avatar {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  margin-top: -2px;
  border-radius: 50%;
  background-color: white;
}

.form-control {
  height: 36px;
}
