
.no-border-radius { border-radius: 0; }
.no-border { border: 0; }

.color-primary { color: $brand-primary; }
.color-gray { color: $font-gray; }

.text-small { font-size: 80%; }
.text-smaller { font-size: 90%; }
.text-large { font-size: 120%; }
.cursor-pointer { cursor: pointer; }
