
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.no-border-radius { border-radius: 0; }
.no-border { border: 0; }

.color-primary { color: $brand-primary; }
.color-gray { color: $font-gray; }

.text-small { font-size: 80%; }
.text-smaller { font-size: 90%; }
.text-large { font-size: 120%; }
.cursor-pointer { cursor: pointer; }
