.new-list {
  color: $gray;
  text-align: center; //height: 180px;
  padding: 15px;
  display: block;
  opacity: 0.6;
  word-wrap: break-word;
  h3 {
    margin-top: 0;
  }
  &:hover {
    opacity: 1;
    color: $brand-primary;
  }
  &:before {
    font-family: "Glyphicons Halflings";
    content: "\e081";
    font-size: 5em;
    width: 50%;
  }
}

.contributor-list {
  margin-bottom: 5px;
}
