/**
 * List Show
 */

.list-show { margin-top: 20px; }

.list-cover {
  position: relative; padding-bottom: 70%; margin-bottom: 20px;
  background: $brand-primary no-repeat center; background-size: cover;
  @media (min-width: $screen-sm-min) { padding-bottom: 48%; }
}

.list-cover-title {
  display: flex;
  align-items: center;
  position: absolute; bottom: 0; left: 0; right: 0; top: auto; margin: 0; padding: 15px 20px;
  font-size: 2.5rem; font-weight: bold; text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
}

.list-title-text { flex-grow: 1; }
.list-title-star {
  font-size: 42px; color: #F2E231;
  i { cursor: pointer; }
  .spinner { margin-right: 15px; vertical-align: middle; }
}

.list-description { margin-bottom: 20px; }

.list-tags { margin-bottom: 20px; }
.list-owner { margin-bottom: 20px; display: flex; }
.list-owner-img { img { width: 75px; } }
.list-owner-descr { padding-left: 20px; }

.list-date { margin-bottom: 20px; font-style: italic; }

.list-post-form {
  margin-bottom: 30px; padding: 15px; border: 2px solid #CACACA;
  transition: all 200ms ease;
  transition-property: box-shadow, border-color;
  @include clearfix;
  &:focus-within {
    border-color: $brand-primary; box-shadow: inset 0 0 5px 0 $brand-primary;
  }
  textarea {
    width: 100%; height: 100px; border: 0; resize: none;
    &:focus { outline: none; }
  }
  button { float: right; }
  .lpf-clear { display: inline-block; margin-bottom: -18px; vertical-align: bottom; color: #999; }
}

.url-preview {
  padding: 10px; margin-bottom: 10px; overflow: hidden;
  border: 2px solid #CACACA; border-radius: 10px;
  @include clearfix;
}
.urlp-image { margin: -10px -10px 5px; }
.urlp-title { font-weight: bold; }
.urlp-descr {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.5; /* fallback */
  max-height: 3; /* fallback */
}

.urlp-papers { margin: 0 -10px -10px; }
.urlp-papers-header { background-color: #CACACA; text-align: center; cursor: pointer; }
.urlp-papers-list {
  padding: 0; margin: 0; overflow: hidden;
  list-style-type: decimal; list-style-position: inside;
  max-height: 0; transition: max-height 0.5s ease;
  &.show { max-height: 500px; overflow: scroll; }
  li { padding: 0 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
}

.list-summary { margin-bottom: 30px; }
.list-summary-title {
  padding-bottom: 5px; margin-bottom: 10px;
  border-bottom: 2px solid #CACACA; font-size: 18px; font-weight: bold;
}
.list-summary-textarea {
  height: 80px; overflow: auto;
  .r-cite { cursor: default; pointer-events: none; }
}

.list-sources { margin-bottom: 30px; }
.list-sources-title { padding-bottom: 5px; margin-bottom: 10px; border-bottom: 2px solid #CACACA; font-size: 18px; font-weight: bold; }
.lsf-sort { float: right; }
.lsf-filters { margin-bottom: 20px; }
.lsf-filters a.active { color: black; font-weight: bold; pointer-events: none; &:hover { text-decoration: none; } }

.list-posts { list-style-type: none; margin: 0; padding: 0; }
.list-post { margin-bottom: 30px; }

.list-post-author { margin-bottom: 10px; @include clearfix; }
.lpa-avatar {
  float: left; margin-right: 20px;
  img { width: 50px; }
}
.lpa-name { margin-top: 2px; font-weight: bold; }
.lpa-date { color: #999; font-size: 90%; }

.list-post-content { margin-bottom: 10px; overflow: hidden; }

.lits-post-article { border: 2px solid #CACACA; border-radius: 10px; overflow: hidden; }
.lpar-header { display: flex; border-bottom: 2px solid #CACACA; }
.empty .lpar-header { border: 0; }
.lpar-thumb {
  flex-shrink: 0; width: 30%; max-width: 100px; background-color: gray;
  .cropped-image { padding-bottom: 100%; }
}
.lpar-heading { flex-grow: 1; padding: 10px; }
.lpar-title { font-weight: bold; }
.lpar-source { color: #999; font-size: 90%; }
.lpar-bookmarks {
  font-size: 90%;
  i { color: $brand-primary; font-size: 110%; vertical-align: middle; }
}
.lpar-papers { padding: 10px; }
.lpar-papers-title { margin-bottom: 10px; color: #999; font-size: 80%; font-style: italic; }

.lpar-paper { display: flex; margin-bottom: 20px; }
.lparp-cover {
  width: 50px; flex-shrink: 0;
  img { max-width: 100%; }
}
.lparp-details { flex-grow: 1; padding-left: 10px; }
.lparp-score { background-color: #eee; }
.lparp-score-value { padding: 0 5px; color: white; background-color: $primary-color; font-size: 80%; overflow: visible; white-space: nowrap; }
.lparp-title { font-weight: bold; }
.lparp-source { color: $brand-primary; font-size: 80%; font-weight: bold; }
.lparp-date-authors { color: #999; font-size: 80%; }
.lparp-bookmarks {
  font-size: 80%;
  i { color: $brand-primary; font-size: 110%; vertical-align: middle; }
}

.summary-content {
  overflow: hidden;
  position: relative;
  max-height: 2000px;
  transition: max-height 0.9s ease-in;
}

.summary-content.truncate {
  max-height: 100px; min-height: 50px;
  transition: max-height 0.3s ease-out;
  &:before {
    content: '';
    display: block;
    width: 100%; height: 40px;
    position: absolute; left: 0; bottom: 0; z-index: 1;
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  }
}
