.navbar-default {
  background-color: $primary-color;
  color: #fff;
  min-height: $navbar-height;
  margin-bottom: 0;
  .navbar-nav>li>a {
    color: #fff !important; // border-left: solid 1px $navbar-border-color;
    font-size: 14px;
    transition: all .2s ease-in-out;
    &:hover {
      color: #fff;
      background: $primary-color;
    }
  }
  .dropdown-toggle:active,
  .open .dropdown-toggle {
    background: $primary-color !important;
    color: #fff !important;
  }
  @media (max-width: 767px) {
    ul.dropdown-menu>li>a {
      color: $white !important;
    }
  }
  .navbar-brand {
    position: relative;
    z-index: 100;
    color: rgba(#fff, .5);
    font-weight: 300;
    line-height: $navbar-height - 30;
    strong {
      color: rgba(#fff, .9);
    }
    &:hover {
      color: #fff;
      strong {
        color: #fff;
      }
    }
  }
  .search-icon {
    width: 24px;
    height: 24px;
  }
  .navbar-toggle {
    margin-top: ($navbar-height - 34) / 2;
    margin-bottom: ($navbar-height - 34) / 2;
  }
}

.navbar-right {
  position: relative;
  z-index: 101;
  li:last-child {
    >a {
      padding-right: 30px;
    }
  }
}

.navbar-left {
  position: relative;
  z-index: 101;
}

.navbar {
  li>a.highlight {
    background: shade($primary-color, 10%);
  }
}

.navbar-brand {
  img {
    margin-top: -25px;
    max-height: 50px;
  }
}

body.question-list .question-list-link,
body.add-question .add-question-link,
body.how-to .how-to-link,
body.about .about-link,
body.settings .settings-link,
body.sign-in .sign-in-link,
body.sign-up .sign-up-link {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    right: 0;
    background: $secondary-color;
  }
}

.navbar-default .navbar-avatar-toggle {
  margin: 11px 15px 0 0;
  padding: 0;
  border: 0;
  img {
    width: 45px;
  }
}

li>a.navbar-avatar {
  padding: 15px !important;
  span {
    vertical-align: middle;
  }
}

.avatar-round-image {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  img {
    width: 100%
  }
}