span.evidence-rating {
  color: $dark-color;
  font-weight: bold;
  .icon{
    &:before  {
      vertical-align: middle;
      font-size: 2em;
      margin-right: 10px;
      font-family: "FontAwesome";
    }
  }
  .icon.early{
    &:before  {
      content: "\f059";
    }
  }
  .icon.mixed{
    &:before  {
      content: "\f24e";
    }
  }
  .icon.conclusive{
    &:before  {
      content: "\f0e3";
    }
  }
}
