$fa-font-path: '../../node_modules/font-awesome/fonts';
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
// Fonts
$font-size-base: 16px;
// Colors
$primary-color: #64D6BD;
$secondary-color: #f4785b;
$light-gray-color: #f1f1f1;
$dark-color: darken(#64D6BD, 20%);
$darkest-color: darken(#64D6BD, 25%);
$brand-primary: #64D6BD;
$white: #ffffff;
$gray-lightest: #fafafa;
$font-gray: #838383;
// Navbar
$default-border-color: shade($light-gray-color, 10%);
$default-border: $default-border-color solid 1px;
//== Navbar
//
//##
// Basics of a navbar
$navbar-height: 70px;
$navbar-margin-bottom: $line-height-computed;
$navbar-border-radius: $border-radius-base;
$navbar-padding-horizontal: floor(($grid-gutter-width / 2));
$navbar-padding-vertical: (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height: 340px;
$navbar-default-color: #777;
$navbar-default-bg: $primary-color;
$navbar-default-border: $primary-color;
// Navbar links
$navbar-default-link-color: #777;
$navbar-default-link-hover-color: #333;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: #555;
$navbar-default-link-active-bg: $primary-color;
$navbar-default-link-disabled-color: #ccc;
$navbar-default-link-disabled-bg: transparent;
// Navbar brand label
$navbar-default-brand-color: $navbar-default-link-color;
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg: transparent;
// Navbar toggle
$navbar-default-toggle-hover-bg: lighten($brand-primary, 10%);
$navbar-default-toggle-icon-bar-bg: white;
$navbar-default-toggle-border-color: white;

//== Buttons
//
//
$btn-default-color:              white;
$btn-default-bg:                 #C6C6C6;
$btn-default-border:             #C6C6C6;


//== Panels
//
//##

$panel-bg:                    #fff;
$panel-body-padding:          15px;
$panel-heading-padding:       10px 15px;
$panel-footer-padding:        $panel-heading-padding;
$panel-border-radius:         $border-radius-base;

//** Border color for elements within panels
$panel-inner-border:          #ddd;
$panel-footer-bg:             #f5f5f5;

$panel-default-text:          $gray-dark;
$panel-default-border:        #ddd;
$panel-default-heading-bg:    #f5f5f5;

$panel-primary-text:          #fff;
$panel-primary-border:        $brand-primary;
$panel-primary-heading-bg:    $brand-primary;

$panel-success-text:          $state-success-text;
$panel-success-border:        $state-success-border;
$panel-success-heading-bg:    $state-success-bg;

$panel-info-text:             $state-info-text;
$panel-info-border:           $state-info-border;
$panel-info-heading-bg:       $state-info-bg;

$panel-warning-text:          $state-warning-text;
$panel-warning-border:        $state-warning-border;
$panel-warning-heading-bg:    $state-warning-bg;

$panel-danger-text:           $state-danger-text;
$panel-danger-border:         $state-danger-border;
$panel-danger-heading-bg:     $state-danger-bg;

